$primary: #36393f;
$secondary: #2f3136;
$tertiary: rgb(32, 34, 37);
$quaternary: #292b2f;
$quinary: #393d42;
$senary: #828386;

$full-cycle: #ffcd01;

$white: #ffffff;
$gray: #8a8c90;
$input: rgb(64, 68, 75);

$symbol: #74777a;